<div id="welcomeScreen" fxLayout="column" fxLayoutAlign="space-around stretch">
  <h1>
    Getting Started
  </h1>
  <label>
    Name:
    <input [(ngModel)]="userService.user.name">
  </label>
  <div>
    <label>
      Choose your role for the Games to come
    </label>
    <div class="welcomeActions">
      <button md-button style="height: 100%" [style.background-color]="getPColor()"
              (click)="userService.user.type = 1">
        <div fxLayout="column" fxLayoutAlign="space-around stretch">
          <span>Painter</span>
          <i class="material-icons">brush</i>
        </div>
      </button>
      <button md-button style="height: 100%" [style.background-color]="getGColor()"
              (click)="userService.user.type = 2">
        <div fxLayout="column" fxLayoutAlign="space-around stretch">
          <span>Guesser</span>
          <i class="material-icons">question_answer</i>
        </div>
      </button>
    </div>
  </div>
  <button md-button class="welcomeActions" style="width: 80%" [disabled]="enableButton()" routerLink="/game"
          fxFlexAlign="center">
    START THE GAME !
  </button>
</div>

<app-footer></app-footer>
