<div id="welcomeScreen">
  <div id="welcomeContent">
    <h1>
      {{title}}
    </h1>
    <p *ngIf="!userService.user.name">
      Here you can login!
    </p>
    <p *ngIf="userService.user.name">
      Welcome {{userService.user.name}}!
    </p>
    <label>
      Name:
      <input [(ngModel)]="userService.user.name" (keydown)="enableButton()">
    </label>
  </div>

  <div id="welcomeActions">
    <button md-button id="startButton" [disabled]="isDisabled">
      START THE GAME !
    </button>
  </div>
</div>

<app-footer></app-footer>
