<div id="mainContent">
  <md-grid-list id="topbar" cols="4" rowHeight="40px">
    <md-grid-tile [colspan]="3">
      <h1>Welcome</h1>
    </md-grid-tile>
    <md-grid-tile [colspan]="1" [rowspan]="2">
      <button md-button id="startGameButton" routerLink="/game">Into the Frey!</button>
    </md-grid-tile>
    <md-grid-tile [colspan]="3">
      <h2>Here you can make all Settings and stuff</h2>
    </md-grid-tile>
  </md-grid-list>

  <md-grid-list cols="3">
    <md-grid-tile>
    <md-card>
      <md-card-header>
        <md-card-title>
          Army
        </md-card-title>
        <md-card-subtitle>
          Build your army!
        </md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <span>Soldiers:</span> <span>{{soldierAmount}}</span>
      </md-card-content>
      <md-card-actions>
        <button md-button class="lonelyButton">To your Army</button>
      </md-card-actions>
    </md-card>
    </md-grid-tile>

    <md-grid-tile>
    <md-card>
      <md-card-header>
        <md-card-title>
          Battles
        </md-card-title>
        <md-card-subtitle>
          Look at your previous Rounds!
        </md-card-subtitle>
      </md-card-header>
      <md-card-content>
          <table class="homeDisplayTable">
            <tr>
              <th>Start</th>
              <th>End</th>
              <th>Highscore</th>
            </tr>
            <tr *ngFor="let battle of previousBattles">
              <td>{{battle.start | date:'dd.MM HH:mm'}}</td>
              <td>{{battle.end | date:'dd.MM HH:mm'}}</td>
              <td>{{battle.score}}</td>
            </tr>
          </table>
      </md-card-content>
      <md-card-actions>
        <button md-button class="lonelyButton">Expand</button>
      </md-card-actions>
    </md-card>
    </md-grid-tile>

    <md-grid-tile>
    <md-card>
      <md-card-header>
        <md-card-title>
          Profile
        </md-card-title>
        <md-card-subtitle>
          Style your Kingdom!
        </md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <table class="homeDisplayTable">
          <tr>
            <td>
              <label>Username:</label>
            </td>
            <td>
              <span>{{username}}</span>
            </td>
          </tr>
          <tr>
            <td>
              <label>Armycolor:</label>
            </td>
            <td>
              <span>{{armyColor}}</span>
              <span
                [style.color]="armyColor"
                [style.background-color]="armyColor">
                ##</span>
            </td>
          </tr>
          <tr>
            <td>
              <label>Password:</label>
            </td>
            <td>
              <span>{{password}}</span>
            </td>
          </tr>
        </table>
      </md-card-content>
      <md-card-actions>
        <button md-button>Security Settings</button>
        <button md-button routerLink="/login">Logout</button>
      </md-card-actions>
    </md-card>
    </md-grid-tile>
  </md-grid-list>
</div>
