<div id="mainContent" fxLayout="row" fxLayoutWrap>
  <div fxFlex="100">
    <md-grid-list id="topbar" cols="4" rowHeight="40px">
      <md-grid-tile [colspan]="3">
        <h1>Welcome {{username}}</h1>
      </md-grid-tile>
      <md-grid-tile [colspan]="1" [rowspan]="2">
        <button md-button id="startGameButton" routerLink="/game">Into the Frey!</button>
      </md-grid-tile>
      <md-grid-tile [colspan]="3">
        <h2>Here you can make all settings and look at your profile and stuff</h2>
      </md-grid-tile>
    </md-grid-list>
  </div>

  <div fxFlex="50">
    <md-card>
      <md-card-header>
        <md-card-title>
          Friends
        </md-card-title>
        <md-card-subtitle>
          Challenge your friends!
        </md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <table class="homeDisplayTable">
          <tr>
            <th>Name</th>
            <th>All-Time Guessed Words</th>
          </tr>
          <tr *ngFor="let friend of friends">
            <td>{{friend.name}}</td>
            <td>{{friend.highscore}}</td>
          </tr>
        </table>
      </md-card-content>
      <md-card-actions>
        <button md-button class="lonelyButton">Add Friends</button>
      </md-card-actions>
    </md-card>
  </div>

  <div fxFlex="50">
    <md-card>
      <md-card-header>
        <md-card-title>
          Last Games
        </md-card-title>
        <md-card-subtitle>
          Look at your previous Rounds!
        </md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <table class="homeDisplayTable">
          <tr>
            <th>Start</th>
            <th>End</th>
            <th>Guessed Words</th>
          </tr>
          <tr *ngFor="let battle of previousBattles">
            <td>{{battle.start | date:'dd.MM HH:mm'}}</td>
            <td>{{battle.end | date:'dd.MM HH:mm'}}</td>
            <td>{{battle.score}}</td>
          </tr>
        </table>
      </md-card-content>
      <md-card-actions>
        <button md-button class="lonelyButton">Expand</button>
      </md-card-actions>
    </md-card>
  </div>

  <div fxFlex="50">
    <md-card>
      <md-card-header>
        <md-card-title>
          Premium
        </md-card-title>
        <md-card-subtitle>
          Get better colors!
        </md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <table class="homeDisplayTable">
          <tr>
            <th>
              ColorPack
            </th>
            <th>
              Price
            </th>
          </tr>
          <tr *ngFor="let color of colors">
            <td>
              {{color.name}}
            </td>
            <td>
              {{color.price | currency:'EUR':1}}
            </td>
            <td>
              <button md-button>Buy</button>
            </td>
          </tr>
        </table>
      </md-card-content>
      <md-card-actions>
        <button md-button>Security Settings</button>
        <button md-button routerLink="/login" (click)="logout()">Logout</button>
      </md-card-actions>
    </md-card>
  </div>
</div>

<app-footer></app-footer>
